<!-- prettier-ignore-start -->
{% extends "base.html" %} 
{% block title %} 
Store 
{%endblock%} 
{% block extra_css %} 
{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{% static 'css/store.css' %}" />
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
  body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
  }
</style>
{% endblock %} {% block content %}
<!-- prettier-ignore-end -->
<div class="text-gray-800">
  <div class="max-w-[1440px] mx-auto flex flex-col md:flex-row p-6 gap-x-8">
    <aside class="w-full md:w-64 flex-shrink-0 filter-section">
      <div
        class="flex justify-between items-center cursor-pointer filter-header"
      >
        <h2 class="text-xl font-bold">فلترة النتائج</h2>
        <i class="fa-solid fa-chevron-up text-sm"></i>
      </div>
      <div class="filter-content mt-4">
        <div class="mb-8 filter-section">
          <div
            class="flex justify-between items-center mb-4 cursor-pointer filter-header"
          >
            <span class="font-semibold">البحث</span>
            <i class="fa-solid fa-chevron-up text-sm"></i>
          </div>
          <div class="relative filter-content">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-body"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              type="search"
              id="search"
              class="block w-full p-3 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
              placeholder="البحث"
            />
            <button
              type="button"
              class="absolute end-1.5 bottom-1.5 text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded text-xs px-3 py-1.5 focus:outline-none"
            >
              البحث
            </button>
          </div>
        </div>
        <div class="mb-8 border-t pt-6 filter-section">
          <div
            class="flex justify-between items-center mb-4 cursor-pointer filter-header"
          >
            <span class="font-semibold">الأصناف</span>
            <i class="fa-solid fa-chevron-up text-sm"></i>
          </div>
          <div class="space-y-3 filter-content">
            <select
              id="category-filter"
              class="w-full border p-2 rounded outline-none"
            >
              <option value="">كل الأصناف</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.arabic_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="mb-8 border-t pt-6 filter-section">
          <div
            class="flex justify-between items-center mb-4 cursor-pointer filter-header"
          >
            <span class="font-semibold">السعر</span>
            <i class="fa-solid fa-chevron-up text-sm"></i>
          </div>
          <div class="filter-content">
            <div class="range-slider">
              <div class="slider-track"></div>
              <div class="slider-progress" id="progress"></div>

              <input
                type="range"
                id="min-range"
                min="0"
                max="1000"
                value="0"
                step="10"
              />

              <input
                type="range"
                id="max-range"
                min="0"
                max="1000"
                value="1000"
                step="10"
              />
            </div>

            <div class="price-input-container">
              <div class="price-box">
                <span class="label">من</span>
                <span class="value" id="from-val">₪0</span>
              </div>

              <div class="price-box">
                <span class="label">إلى</span>
                <span class="value" id="to-val">₪1000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-8 border-t pt-6 filter-section">
          <div
            class="flex justify-between items-center mb-4 cursor-pointer filter-header"
          >
            <span class="font-semibold">الوسوم</span>
            <i class="fa-solid fa-chevron-up text-sm"></i>
          </div>
          <div class="text-tags filter-content">
            {% for tag in tags %}
            <button
              type="button"
              class="tag-button"
              data-tag-id="{{ tag.id }}"
              onclick="toggleTag(this)"
            >
              {{ tag.arabic_name }}
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </aside>

    <main class="flex-1">
      <div
        class="flex flex-col lg:flex-row lg:items-center justify-between mb-6 gap-2"
      >
        <div>
          <div id="spans_container" class="flex flex-wrap gap-2 mt-3"></div>
        </div>
        <div class="flex items-center gap-2 text-sm">
          <span class="text-gray-400">Sort by</span>
          <select
            id="sort-filter"
            class="font-bold bg-transparent outline-none"
          >
            <option value="">الشعبية</option>
            <option value="newest">الأحدث</option>
            <option value="low_to_high">السعر:الأقل أولاً</option>
            <option value="high_to_low">السعر:الأكثر أولاً</option>
          </select>
        </div>
      </div>

      <div class="flex items-center justify-between mb-6">
        <p class="text-sm text-gray-500">
          عدد المنتجات:
          <span id="products-count">{{ products|length }}</span>
        </p>
      </div>
      <div id="products-grid" class="products-grid">
          {% include 'partials/_product_cards.html'%}
      </div>
    </main>
  </div>
</div>
{% load static %}
<script src="{% static 'js/store.js' %}"></script>
{% endblock %}